<!DOCTYPE html>
<html>
  <head>
    <title>Vue Training</title>
  </head>
  <body>

    <div id="root">

      <ul>
        <li v-for="name in names" v-text='name'></li>
      </ul>

      <input type="text" id="input" v-model='newName'>

      <button @click="addName">Add Name</button>
      <!-- @ is a shorthand for v-on: -->

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>

    <script>

      var app = new Vue({

        el: '#root',

        data: {
          newName: '',
          names: ['Roy', 'Karolina', 'Lorem', 'Ipsum']
        },

        methods: {
          addName() {
            this.names.push(this.newName);
            this.newName = '';
          }
        },

        mounted() { }
      });

    </script>

  </body>
</html>
